#more{
    display:none;}
*{
    background-color: hsl(222, 81%, 16%);
    color: #F4F7C4;
    font-family: "Almendra SC", serif;
    font-weight: 400;
    font-style: normal;
}



#title{
    text-align: center;
}
#main{
    text-align: center;
}
#img-src{
    font-size: 10px;
}
img{
    width: 25%;
}
#box{
    background-color: hsl(222, 81%, 16%);
    height:410px;
    width: 410px; 
    padding:30px;
    margin:10px;
    color: #F4F7C4;
    
}
#boxes{ display:flex;
    gap:10px;
    justify-content:center;
    align-items: center;}





#box2{display:flex;
    gap:10px;
    justify-content:center;
    align-items: center;}

#box3{
    background-color: hsl(222, 81%, 16%);
    height:320px;
    width: 320px; 
    padding:30px;
    margin:10px;
    color: #F4F7C4;
}
img {
    margin:25px; }
#img{
    display:flex;
    gap:10px;
    justify-content:center;
    align-items: center;
}
#image{
    display:flex;
    gap:10px;
    justify-content:center;
    align-items: center;
}  
#disc{
    text-align: center;

}
#l{
    display:flex;
    gap:10px;
    justify-content:center;
    align-items:center;
    
}


    
#Hidden image{
    display:none;
    
}
#why{
    display:flex;
    gap:10px;
    justify-content:center;
    align-items: center;
}

#he{
    display:flex;
    gap:10px;
    justify-content:center;
    align-items: center;

}

    
        
             