body{
    font-family: Sono,monospace;
}
#title{
    text-align: center;
}
#w{
    text-align: center;
    font-size: 10px;
}
#img{
    display:flex;
    gap:10px;
    justify-content:center;
    align-items: center;
    }



#box1{
    margin: 10px;
  width: 50%;
    padding:10px;
    
}
img{
    width: 40%;

}

#small{ font-size: 10px;

}
#small{
    display:flex;
    gap:10px;
    justify-content:flex-end;
    align-items: flex-end;
}
ol {
    list-style: none;
}

ol li {
    margin-bottom: 30px;
}
#list{
    margin: 10px;
  width: 30%;
    padding:10px;
}
#hidden image{
    display:none;
    
}

#he{
    margin: 10px;
    width: 30%;
      padding:10px;
}
#inside{
    display:flex;
    gap:10px;
    justify-content:center;
    align-items: center;
}

#c{
    display:flex;
    gap:10px;
    justify-content:center;
    align-items: center;
}

#box1 {
    display:grid;
    grid-gap: 1rem;
    grid-template-columns: ;
}
#container img {
    width: 500px; 
    height: auto;
}


    





