body{
    font-family: Sono,monospace;
     
}
#title{
    text-align: center;
}
#w{
    text-align: center;
    font-size: 10px;
}
#img{
    display:flex;
    gap:10px;
    justify-content:center;
    align-items: center;
    }

#box1{
    display:grid;
     grid-template-columns: 1fr 1fr 1fr;
     
    grid-column:3;
}
img{
    width: 40%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-end;

}
#winter{ width:400%}

#small{ font-size: 10px;

}
#small{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;;
    justify-content: flex-end;
    align-items: flex-end;
}
ol {
    list-style: none;
}

ol li {
    margin-bottom: 30px;
}

#hidden image{
    display:none;
    
}

#he{
    margin: 10px;
    width: 30%;
      padding:10px;
}
#inside{
    display:flex;
    gap:10px;
    justify-content:center;
    align-items: center;
}

#c{
    display:flex;
    gap:10px;
    justify-content:center;
    align-items: center;
}   

    #snow{
        display:grid;
     grid-template-columns: 1fr 1fr 1fr;
}
   #winter{
    grid-column:3;
   }
   #big{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: flex-end;
    gap:10px;
   }
   #big{
    font-size: 10px;
   }
   .main-container {
    display: flex;
    justify-content: space-between;  
    align-items: flex-start;        
    margin: 20px;                    
  }
  
  .left-side {
    flex: 0 0 45%;      
    padding: 10px;
  }
  
  .right-side {
    flex: 0 0 45%;      
    padding: 10px;
    text-align: right;  
  }
  
  .right-side img {
    width: 100%;    
    height: auto;
  }
 
  
  
  
  
  
  
   
    
   